target
Makefile
CMakeCache.txt
CMakeFiles
.toolchain
*.tar.*
*.ll
*.bc
*.a
*.o
.toolchain
.vscode
.nix-rust


*.out
*.txt
behemoth.md
tests/benches/heavy_bench/target_*/
tests/benches/heavy_bench/target_vec/
tests/benches/heavy_bench/*.md
!tests/benches/heavy_bench/README.md
